#accountForm {
    border: solid;
      background: rgba(0,0,0,0.7);
      border-style: groove;
      border-radius: 4vw;
      margin: auto 5vw;
      color: white;
      font-family: "ComicBookRegular";
  }