#characterCollectionUL {
    background: inherit;
    margin: 0;
    padding: 5vw;
  }

@media screen and (min-width: $tabletMinWidth) {
    #characterCollectionUL {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $largeLaptopMinWidth) {
    #characterCollectionUL {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
