#landingDivSection {
    background: rgba(255,255,255, 0.9);
      border: solid;
      border-style: groove;
      border-radius: 5vw;
      position: relative;
      /* top: 35%; */
      padding: 3vw;
      margin: auto 10vw;
      top: 25vw;

      p {
          font-family: "ComicBookRegular";
      }
  }