#loginSampleSection {
    background: rgba(7, 235, 216, 0.8);
    color: black;
    border:solid;
    margin: 5vw;
    font-family: "Marvel";
    border-radius: 3vw;
    border-style: groove;
p {
        font-family: "ComicBookRegular";
    }
    
}