#loginForm {
 
    font-family:"ComicBookRegular";
    border: solid;
      border-style: groove;
      border-radius: 4vw;
      margin: auto 5vw;
      font-family: "ComicBookRegular";
      height: auto;
      background: rgba(25,10,10,0.9);
      color: lightgoldenrodyellow;
      padding: 5vw;

      input {
          text-align: center;
      }
  }