#searchComponentInput {
    border: red solid;
      border-radius: 4vw;
      background: black;
      color: white;
      text-align: center;
      font-size: 6vw;
      font-family:"ComicBookRegular";
  }
  
@media screen and (min-width: $tabletMinWidth) {
    #searchComponentInput {
        font-size: 3.5vw;
    }
}