#searchComponentDiv {
    background: 
      linear-gradient(
        
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('/pictures/comicBackgrounds/11427.jpg');
    height: -webkit-fill-available;
    background-size: contain;

    h1 {
        
            background: lightgoldenrodyellow;
            font-family: "ComicBookBoldItalic";

          
    }
  }