#signupForm {
    border: solid;
      border-style: groove;
      border-radius: 5vw;
      padding: 5vw;
      z-index: 20;
      background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
      font-family: "ComicBookRegular";
      color: lightgoldenrodyellow;
      margin: 5vw;
  }