$smallMobileMaxWidth: 320px;

$mediumMobileMinWidth: 321px;
$mediumMobileMaxWidth: 375px;

$largeMobileMinWidth: 376px;
$largeMobileMaxWidth: 425px;

$tabletMinWidth: 426px;
$tabletMaxWidth: 768px;

$laptopMinWidth: 769px;
$laptopMaxWidth: 1024px;

$largeLaptopMinWidth: 1025px;
$largeLaptopMaxWidth: 1440px;

$extraLargeMinWidth: 1441px;




$chromeTabletWidthMin: 768px;
$chromeTabletWidthMax: 991px;

$sliderMin: 479px;


$desktopMinWidth: 992px;


//small mobile (max 320px)

//medium mobile (min 321px - max 375px)

//large mobile (min 376px - max 425px)

//tablet (min 426px - max 768px)

//laptop (min 769px - max 1024px)

//large laptop (min 1025px - max 1440px)

//beyond