.App {
  text-align: center;
}

/*TODO: get this ruleset immediatebelow to scss or something*/
.homeComponentDivBlur {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  z-index: 1
}

#characterCollectionUL {
  padding: 5vw;
}

.marvelCharacterCard {
  margin-bottom: 5vw;
}

.marvelCharacterCardMainImage {
  width: 100%;
}

.marvelCharacterCardName {
  display:inline-block;
}

.marvelCharacterCardHeader {
  display: block;
  text-align:justify;
}

.marvelCharacterDeleteButton {
  display: inline;
  float: right;
}

.homeComponentMessageSuccess {
  position: fixed;
  z-index: 2;
  border: solid green;
  background: rgba(36, 181, 53, 0.9);
  height: auto;
  padding: 12vw;
  top: 40%;
  
  display: block;
  width: 90%;
  margin: auto 5%;
}

.homeComponentMessageFailure {
  position: fixed;
  z-index: 2;
  border: solid red;
  background: rgba(221, 11, 11, 0.9);
  height: auto;
  padding: 12vw;
  top: 40%;
  
  display: block;
  width: 90%;
  margin: auto 5%;
}

.suggestionCards {
  background-size: cover !important;
    width: 80vw;
    height: 50vw;
    margin: 8vw auto;
    box-shadow: black 0vw 1vw 1vw;
}

.suggestionCards:active {
  box-shadow: none;
  transform: translateY(5px);
}

.suggestionCardsH2 {
  margin: auto;
  color:whitesmoke;
  text-shadow: .1vw .4vw black;
  pointer-events:none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
