

/* * {
  box-sizing: border-box;
} 
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
}  */

/* import backgroundImage from '../assets/pictures/comicBackgrounds/blueDots.jpg'; */

div.App {
  background: url('../../bookworm/src/assets/pictures/comicBackgrounds/3QEQ4qb.jpg') center no-repeat;
  background-size: cover;
}

#accountForm {
  border: solid;
    background: rgba(0,0,0,0.7);
    border-style: groove;
    border-radius: 4vw;
    margin: auto 5vw;
    color: white;
    font-family: "ComicBookRegular";
}

.text-muted {
  color: lightgoldenrodyellow !important;
  margin: auto 5vw;
}

.accountFormGroup 
  input {
    background-color: transparent;
  }


#aboutDiv {
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ), url('../../bookworm/src/assets/pictures/comicBackgrounds/blueDots.jpg');
  height: 100%;
  /* height: -webkit-fill-available; */
}

#aboutSection {
  background: white;
    opacity: 0.85;
    border: solid;
    border-style: groove;
    border-radius: 5vw;
    margin: 5vw;
    font-family: "ComicBookRegular";
}

#aboutDivH2 {
  border: solid;
  background: lightgoldenrodyellow;
  font-family: "ComicBookBoldItalic";
}

#aboutPic {
  float: right;
  width: auto;
  max-width: 20vw;
}

#accountH2 {
  border: solid;
  background: lightgoldenrodyellow;
  font-family: "ComicBookBoldItalic";
}

.card {
  font-family: "ComicBookRegular";
  background: lightgoldenrodyellow;
}

.collapse div{
  margin:5vw;
}

#signupDiv {
  background: url('../../bookworm/src/assets/pictures/comicBackgrounds/orangeDots.png');
  height: -webkit-fill-available;
}

#signupH1 {
  border:solid;
  background: lightgoldenrodyellow;
  font-family: "ComicBookBoldItalic";
}

#signupForm {
  border: solid;
    border-style: groove;
    border-radius: 5vw;
    padding: 5vw;
    z-index: 20;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
    font-family: "ComicBookRegular";
    color: lightgoldenrodyellow;
    margin: 5vw;
}

#searchComponentDiv {
  background: 
    linear-gradient(
      
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url('../../bookworm/src/assets/pictures/comicBackgrounds/11427.jpg');
  height: -webkit-fill-available;
  background-size: contain;
}

#collectionDiv {
  background: 
  linear-gradient(
    
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url('/pictures/sheildHQ.jpg') no-repeat center;
  height: 100%;
  background-size: cover;
}

#collectionH1 {
  border: solid;
  /* margin */
  background:lightgoldenrodyellow;
}

#landingH1 {
  border: solid;
  background:lightgoldenrodyellow;
  font-family: "ComicBookBoldItalic";
}

#landingDiv {
  background: 
  linear-gradient(
    
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url('../../bookworm/src/assets/pictures/comicBackgrounds/crop.jpeg') center;
  height: 100vh;
}

#landingDivSection {
  background: rgba(255,255,255, 0.9);
    border: solid;
    border-style: groove;
    border-radius: 5vw;
    position: relative;
    /* top: 35%; */
    padding: 3vw;
    margin: auto 10vw;
    top: 25vw;
}

#landingDivSection p {
  font-family: "ComicBookRegular";
}

#loginDiv {
  background: inherit;
  height: 100vh;
}

#loginForm {
 
  font-family:"ComicBookRegular";
  border: solid;
    border-style: groove;
    border-radius: 4vw;
    margin: auto 5vw;
    font-family: "ComicBookRegular";
    height: auto;
    background: rgba(25,10,10,0.9);
    color: lightgoldenrodyellow;
    padding: 5vw;
}

#loginForm input {
  text-align:center;
}

#loginH2 {
  border:solid;
  background: lightgoldenrodyellow;
  font-family: "ComicBookBoldItalic";
}

.modalImage {
  width: 100%;
}

.modal-content {
  background: lightgoldenrodyellow;
  font-family: "ComicBookRegular";
}

#searchComponentDiv h1 {
  background: lightgoldenrodyellow;
}

#searchComponentDiv h1, #collectionH1  {
  font-family: "ComicBookBoldItalic";
}

#searchComponentInput {
  border: red solid;
    border-radius: 4vw;
    background: black;
    color: white;
    text-align: center;
    font-size: 6vw;
    font-family:"ComicBookRegular";
}

#searchResultsUL {
  overflow-y: scroll;
  height: 90vh;
  margin-bottom: 0 !important;
  padding: 0;
  background: inherit;
}

#loaderDiv {
  position: fixed;
    margin: auto 15%;
    width: auto;
    min-width: 70%;
    top: 40%;
    z-index: 4;
    height: fit-content;
    border: solid;
    background: grey;
}

#loaderMessage {
  font-family: "ComicBookRegular";
}

.suggestionCardsH2 {
  font-family: "ComicBookItalic";
}

.navbar-nav {
  font-family: "ComicBookRegular";
}

.navbar-brand {
  color: white !important;
}




.dust {
  position: absolute;
  /* position: relative; */
  width: 100%;
}

.App {
  text-align: center;
}

/*TODO: get this ruleset immediatebelow to scss or something*/
.searchComponentDivBlur {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  z-index: 1
}

#characterCollectionUL {
  padding: 5vw;
}

.marvelCharacterCard {
  margin-bottom: 5vw;
}

.marvelCharacterCardMainImage {
  width: 100%;
}

.marvelCharacterCardName {
  display:inline-block;
}

.marvelCharacterCardHeader {
  display: block;
  text-align:justify;
}

.marvelCharacterDeleteButton {
  display: inline;
  float: right;
}

.searchComponentMessageSuccess {
  position: fixed;
  z-index: 2;
  border: solid green;
  background: rgba(36, 181, 53, 0.9);
  height: auto;
  padding: 12vw;
  top: 40%;
  
  display: block;
  width: 90%;
  margin: auto 5%;
}

.searchComponentMessageFailure {
  position: fixed;
  z-index: 2;
  border: solid red;
  background: rgba(221, 11, 11, 0.9);
  height: auto;
  padding: 12vw;
  top: 40%;
  
  display: block;
  width: 90%;
  margin: auto 5%;
}

.suggestionCards {
  background-size: cover !important;
    width: 80vw;
    height: 50vw;
    margin: 8vw auto;
    box-shadow: black 0vw 1vw 1vw;
}

.suggestionCards:active {
  box-shadow: none;
  transform: translateY(5px);
}

.suggestionCardsH2 {
  margin: auto;
  color:whitesmoke;
  text-shadow: .1vw .4vw black;
  pointer-events:none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
